/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Lora:wght@400;700&family=Roboto:wght@700&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #e5e5e5;
}

.header {
  min-height: 600px;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.navigation {
  min-height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1300px;
  min-height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .site-logo {
  display: block;
}

.right-panel {
  max-width: 505px;
  min-height: 80px;
  display: flex;
  align-items: center;
  gap: 34px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}
.nav-list::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -17px;
  transform: translateY(-50%);
  border-right: 0.5px solid #e5e5e5;
  height: 20px;
}
.nav-list__link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #e5e5e5;
  font-size: 12px;
  text-decoration: none;
  display: block;
  position: relative;
}
.nav-list__link:hover {
  color: #fff;
}
.nav-list__link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  border-bottom: 2px solid #d4a373;
}

.social {
  display: flex;
  align-items: center;
  gap: 18px;
  position: relative;
}
.social a {
  display: block;
}
.social a:hover {
  filter: brightness(150%);
}
.social a img {
  display: block;
  width: 20px;
  height: 20px;
}
.social::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -17px;
  transform: translateY(-50%);
  border-right: 0.5px solid #e5e5e5;
  height: 20px;
}

.search {
  display: flex;
  align-items: center;
}
.search a {
  display: block;
}
.search a:hover {
  filter: brightness(150%);
}
.search a img {
  display: block;
}

.header-main {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 198px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-adventure {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 10px;
  height: 22px;
  width: 77px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  border-color: transparent;
  border: 0;
  padding: 5px 10px;
}
.btn-adventure:hover {
  background-color: #00b3ad;
  cursor: pointer;
}

.btn-fashion {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 10px;
  height: 22px;
  width: 62px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  border-color: transparent;
  border: 0;
  padding: 5px 10px;
}
.btn-fashion:hover {
  background-color: #00b3ad;
  cursor: pointer;
}

.btn-brand {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 10px;
  height: 22px;
  width: 54px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  border-color: transparent;
  border: 0;
  padding: 5px 10px;
}
.btn-brand:hover {
  background-color: #00b3ad;
  cursor: pointer;
}

.btn-travel {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 10px;
  height: 22px;
  width: 57px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  border-color: transparent;
  border: 0;
  padding: 5px 10px;
}
.btn-travel:hover {
  background-color: #00b3ad;
  cursor: pointer;
}

.header-info {
  font-family: "Lora", serif;
  font-weight: 700;
  max-width: 530px;
  font-size: 36px;
  color: #fff;
  line-height: 46px;
}

.data {
  display: flex;
  max-width: 530px;
  gap: 50px;
}
.data p {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #e5e5e5;
  font-size: 12px;
  line-height: 20px;
}
.data p.left {
  position: relative;
}
.data p.left::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -41px;
  border-top: 1px solid #e5e5e5;
  width: 30px;
}

.topics {
  max-width: 1300px;
  min-height: 1310px;
  margin: 150px auto;
}
.topics h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  text-align: left;
  font-size: 36px;
  color: #495057;
  line-height: 46px;
}

.container-topics-types {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.types {
  display: flex;
  align-items: center;
  gap: 20px;
}

.topic-list__link {
  font-family: "Lora", serif;
  font-weight: 700;
  color: #495057;
  font-size: 12px;
  line-height: 25px;
  text-decoration: none;
}
.topic-list__link:hover {
  color: #d4a373;
}

.container-topics-items {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 20px;
}
.container-topics-items .topic-item {
  width: 310px;
  min-height: 565px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}
.container-topics-items .topic-item .btn-adventure {
  position: absolute;
  top: 20px;
  right: 20px;
}
.container-topics-items .topic-item .btn-fashion {
  position: absolute;
  top: 20px;
  right: 20px;
}
.container-topics-items .topic-item .btn-brand {
  position: absolute;
  top: 20px;
  right: 92px;
}
.container-topics-items .topic-item .btn-travel {
  position: absolute;
  top: 20px;
  right: 107px;
}
.container-topics-items .topic-item__img {
  border-radius: 5px;
  display: block;
  width: 310px;
  height: 280px;
}

.topic-item__description {
  margin: 20px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
}
.topic-item__description__date {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #6c757d;
  font-size: 12px;
  line-height: 15px;
}
.topic-item__description h3 {
  font-family: "Lora", serif;
  font-weight: 700;
  color: #495057;
  font-size: 18px;
  line-height: 25px;
}
.topic-item__description__text {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #6c757d;
  font-size: 12px;
  line-height: 20px;
}
.topic-item__description::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  border-bottom: 0.5px solid #e5e5e5;
}

.author {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
}
.author__img {
  display: block;
  width: 50px;
  height: 50px;
}
.author__info {
  font-size: 12px;
  line-height: 20px;
  text-align: left;
}
.author__info .by {
  font-family: "Lora", serif;
  font-weight: 700;
  color: #495057;
}
.author__info .name {
  font-family: "Lora", serif;
  font-weight: 700;
  color: #343a40;
}
.author__info .profession {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #6c757d;
}

.waves {
  min-height: 600px;
  background-image: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 178px;
}
.waves__description {
  max-width: 530px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.waves__description .main-info {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #fff;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 13px;
}
.waves__description .info {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #e5e5e5;
  text-align: center;
  max-width: 420px;
  margin-bottom: 39px;
  position: relative;
}
.waves__description .info::after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.waves__description .date {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #e5e5e5;
  text-align: center;
}

.editors-pick {
  max-width: 1300px;
  min-height: 466px;
  margin: 150px auto;
}
.editors-pick h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  text-align: left;
  font-size: 36px;
  color: #495057;
  line-height: 46px;
}
.editors-pick .container-pick-items {
  margin-top: 70px;
  display: flex;
  gap: 20px;
}
.editors-pick .container-pick-items .pick-item {
  width: 420px;
  min-height: 350px;
  border-radius: 5px;
  position: relative;
}
.editors-pick .container-pick-items .pick-item .btn-fashion {
  position: absolute;
  top: 20px;
  right: 20px;
}
.editors-pick .container-pick-items .item-left {
  background-image: url(../img/pick_1.jpg);
}
.editors-pick .container-pick-items .item-central {
  background-image: url(../img/pick_3.jpg);
}
.editors-pick .container-pick-items .item-right {
  background-image: url(../img/pick_2.jpg);
}

.pick-item__description {
  margin: 153px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.pick-item__description__date {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #e5e5e5;
  font-size: 12px;
  line-height: 15px;
}
.pick-item__description h3 {
  font-family: "Lora", serif;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  max-width: 270px;
}
.pick-item__description__text {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #e5e5e5;
  font-size: 12px;
  line-height: 20px;
  max-width: 340px;
}

.info__main {
  min-height: 400px;
  background-color: #212529;
  padding-top: 106px;
}
.info__main__container {
  max-width: 1300px;
  margin: 0 auto;
  padding-right: 122px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 142px;
}
.info__main__container .contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info__main__container .contact h3 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}
.info__main__container .contact .email {
  font-family: "Lora", serif;
  font-weight: 400;
  margin: 16px 0 18px;
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #e5e5e5;
  text-decoration: none;
}
.info__main__container .contact .email:hover {
  color: #fff;
}
.info__main__container .contact .number {
  font-family: "Lora", serif;
  font-weight: 400;
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #e5e5e5;
  text-decoration: none;
}
.info__main__container .contact .number:hover {
  color: #fff;
}

.footer-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.footer-nav h3 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}
.footer-nav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 18px;
}
.footer-nav__list__link {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #e5e5e5;
  font-size: 12px;
  line-height: 15px;
  display: block;
  text-decoration: none;
}
.footer-nav__list__link:hover {
  color: #fff;
}

.address {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}
.address h3 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}
.address p {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #e5e5e5;
}

.connections {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.connections h3 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}
.connections .footer-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}
.connections .footer-social a {
  display: block;
}
.connections .footer-social a:hover {
  filter: brightness(150%);
}
.connections .footer-social a img {
  display: block;
  width: 20px;
  height: 20px;
}

.info__additional {
  min-height: 100px;
  background-color: #343a40;
}
.info__additional__container {
  max-width: 1300px;
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info__additional__container .name {
  font-family: "Lora", serif;
  font-weight: 700;
  color: #e5e5e5;
  font-size: 14px;
  line-height: 18px;
}
.info__additional__container .subscribe__link {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #e5e5e5;
  font-size: 14px;
  line-height: 18px;
  display: block;
  text-decoration: none;
}
.info__additional__container .subscribe__link:hover {
  color: #fff;
}