@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Lora:wght@400;700&family=Roboto:wght@700&display=swap");

// Variables
// Fonts

$font-lora: "Lora", serif;
$font-roboto: "Roboto", sans-serif;
$font-spartan: "League Spartan", sans-serif;

// Color
$black: #000000;
$white: #f8f9fa;
$grey: #e5e5e5;
$super-white: #fff;
$hover-button: #00b3ad;
$text: #495057;
$link-hover: #d4a373;
$description: #6c757d;

// Mixin
@mixin lora-regular {
  font-family: $font-lora;
  font-weight: 400;
}

@mixin lora-bold {
  font-family: $font-lora;
  font-weight: 700;
}

@mixin roboto-bold {
  font-family: $font-roboto;
  font-weight: 700;
}

@mixin spartan-bold {
  font-family: $font-spartan;
  font-weight: 700;
}

// Landing
body {
  background-color: $grey;
}

.header {
  min-height: 600px;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.navigation {
  min-height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1300px;
  min-height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .site-logo {
    display: block;
  }
}

.right-panel {
  max-width: 505px;
  min-height: 80px;
  display: flex;
  align-items: center;
  gap: 34px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -17px;
    transform: translateY(-50%);
    border-right: 0.5px solid $grey;
    height: 20px;
  }
  &__link {
    @include roboto-bold;
    color: $grey;
    font-size: 12px;
    text-decoration: none;
    display: block;
    position: relative;
    &:hover {
      color: $super-white;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        border-bottom: 2px solid $link-hover;
      }
    }
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 18px;
  position: relative;
  & a {
    display: block;
    &:hover {
      filter: brightness(150%);
    }
    & img {
      display: block;
      width: 20px;
      height: 20px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -17px;
    transform: translateY(-50%);
    border-right: 0.5px solid $grey;
    height: 20px;
  }
}

.search {
  display: flex;
  align-items: center;
  & a {
    display: block;
    &:hover {
      filter: brightness(150%);
    }
    & img {
      display: block;
    }
  }
}

.header-main {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 198px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-adventure {
  @include roboto-bold;
  color: $super-white;
  font-size: 10px;
  height: 22px;
  width: 77px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  border-color: transparent;
  border: 0;
  padding: 5px 10px;
  &:hover {
    background-color: $hover-button;
    cursor: pointer;
  }
}

.btn-fashion {
  @include roboto-bold;
  color: $super-white;
  font-size: 10px;
  height: 22px;
  width: 62px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  border-color: transparent;
  border: 0;
  padding: 5px 10px;
  &:hover {
    background-color: $hover-button;
    cursor: pointer;
  }
}

.btn-brand {
  @include roboto-bold;
  color: $super-white;
  font-size: 10px;
  height: 22px;
  width: 54px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  border-color: transparent;
  border: 0;
  padding: 5px 10px;
  &:hover {
    background-color: $hover-button;
    cursor: pointer;
  }
}

.btn-travel {
  @include roboto-bold;
  color: $super-white;
  font-size: 10px;
  height: 22px;
  width: 57px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  border-color: transparent;
  border: 0;
  padding: 5px 10px;
  &:hover {
    background-color: $hover-button;
    cursor: pointer;
  }
}

.header-info {
  @include lora-bold;
  max-width: 530px;
  font-size: 36px;
  color: $super-white;
  line-height: 46px;
}

.data {
  display: flex;
  max-width: 530px;
  gap: 50px;
  & p {
    @include lora-regular;
    color: $grey;
    font-size: 12px;
    line-height: 20px;
    &.left {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 10px;
        right: -41px;
        border-top: 1px solid $grey;
        width: 30px;
      }
    }
  }
}

.topics {
  max-width: 1300px;
  min-height: 1310px;
  margin: 150px auto;
  & h2 {
    @include lora-bold;
    text-align: left;
    font-size: 36px;
    color: $text;
    line-height: 46px;
  }
}

.container-topics-types {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.types {
  display: flex;
  align-items: center;
  gap: 20px;
}

.topic-list__link {
  @include lora-bold;
  color: $text;
  font-size: 12px;
  line-height: 25px;
  text-decoration: none;
  &:hover {
    color: $link-hover;
  }
}

.container-topics-items {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 20px;
  & .topic-item {
    width: 310px;
    min-height: 565px;
    border-radius: 5px;
    background-color: $super-white;
    position: relative;
    & .btn-adventure {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    & .btn-fashion {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    & .btn-brand {
      position: absolute;
      top: 20px;
      right: 92px;
    }
    & .btn-travel {
      position: absolute;
      top: 20px;
      right: 107px;
    }
    &__img {
      border-radius: 5px;
      display: block;
      width: 310px;
      height: 280px;
    }
  }
}

.topic-item__description {
  margin: 20px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  &__date {
    @include lora-regular;
    color: $description;
    font-size: 12px;
    line-height: 15px;
  }
  & h3 {
    @include lora-bold;
    color: $text;
    font-size: 18px;
    line-height: 25px;
  }
  &__text {
    @include lora-regular;
    color: $description;
    font-size: 12px;
    line-height: 20px;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    border-bottom: 0.5px solid $grey;
  }
}

.author {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  &__img {
    display: block;
    width: 50px;
    height: 50px;
  }
  &__info {
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    & .by {
      @include lora-bold;
      color: $text;
    }
    & .name {
      @include lora-bold;
      color: #343a40;
    }
    & .profession {
      @include lora-regular;
      color: $description;
    }
  }
}

.waves {
  min-height: 600px;
  background-image: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 178px;
  &__description {
    max-width: 530px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .main-info {
      @include lora-bold;
      font-size: 36px;
      line-height: 46px;
      color: $super-white;
      text-align: center;
      margin-top: 24px;
      margin-bottom: 13px;
    }
    & .info {
      @include lora-regular;
      font-size: 12px;
      line-height: 20px;
      color: $grey;
      text-align: center;
      max-width: 420px;
      margin-bottom: 39px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -24px;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        border-bottom: 1px solid $grey;
      }
    }
    & .date {
      @include lora-regular;
      font-size: 12px;
      line-height: 15px;
      color: $grey;
      text-align: center;
    }
  }
}

.editors-pick {
  max-width: 1300px;
  min-height: 466px;
  margin: 150px auto;
  & h2 {
    @include lora-bold;
    text-align: left;
    font-size: 36px;
    color: $text;
    line-height: 46px;
  }
  & .container-pick-items {
    margin-top: 70px;
    display: flex;
    gap: 20px;
    & .pick-item {
      width: 420px;
      min-height: 350px;
      border-radius: 5px;
      position: relative;
      & .btn-fashion {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
    & .item-left {
      background-image: url(../img/pick_1.jpg);
    }
    & .item-central {
      background-image: url(../img/pick_3.jpg);
    }
    & .item-right {
      background-image: url(../img/pick_2.jpg);
    }
  }
}

.pick-item__description {
  margin: 153px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  &__date {
    @include lora-regular;
    color: $grey;
    font-size: 12px;
    line-height: 15px;
  }
  & h3 {
    @include lora-bold;
    color: $super-white;
    font-size: 18px;
    line-height: 25px;
    max-width: 270px;
  }
  &__text {
    @include lora-regular;
    color: $grey;
    font-size: 12px;
    line-height: 20px;
    max-width: 340px;
  }
}

.info__main {
  min-height: 400px;
  background-color: #212529;
  padding-top: 106px;
  &__container {
    max-width: 1300px;
    margin: 0 auto;
    padding-right: 122px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 142px;
    & .contact {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      & h3 {
        @include lora-bold;
        font-size: 18px;
        line-height: 25px;
        color: $super-white;
      }
      & .email {
        @include lora-regular;
        margin: 16px 0 18px;
        display: block;
        font-size: 12px;
        line-height: 15px;
        color: $grey;
        text-decoration: none;
        &:hover {
          color: $super-white;
        }
      }
      & .number {
        @include lora-regular;
        display: block;
        font-size: 12px;
        line-height: 15px;
        color: $grey;
        text-decoration: none;
        &:hover {
          color: $super-white;
        }
      }
    }
  }
}

.footer-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  & h3 {
    @include lora-bold;
    font-size: 18px;
    line-height: 25px;
    color: $super-white;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 18px;
    &__link {
      @include lora-regular();
      color: $grey;
      font-size: 12px;
      line-height: 15px;
      display: block;
      text-decoration: none;
      &:hover {
        color: $super-white;
      }
    }
  }
}

.address {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  & h3 {
    @include lora-bold;
    font-size: 18px;
    line-height: 25px;
    color: $super-white;
  }
  & p {
    @include lora-regular;
    font-size: 12px;
    line-height: 20px;
    color: $grey;
  }
}

.connections {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  & h3 {
    @include lora-bold;
    font-size: 18px;
    line-height: 25px;
    color: $super-white;
  }
  & .footer-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    & a {
      display: block;
      &:hover {
        filter: brightness(150%);
      }
      & img {
        display: block;
        width: 20px;
        height: 20px;
      }
    }
  }
}

.info__additional {
  min-height: 100px;
  background-color: #343a40;
  &__container {
    max-width: 1300px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & .name {
      @include lora-bold;
      color: $grey;
      font-size: 14px;
      line-height: 18px;
    }
    & .subscribe__link {
      @include lora-regular;
      color: $grey;
      font-size: 14px;
      line-height: 18px;
      display: block;
      text-decoration: none;
      &:hover {
        color: $super-white;
      }
    }
  }
}
